body {
    background-color: #F8C9D3;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.Logo {
    display: flex;
}

img {
    height: 140px;
    width: 140px;
    display: flex;
    justify-content: flex-start;
}

.Navbar {
    display: flex;
    justify-content: flex-end;
    margin-top: -285px;
    margin-right: 40px;
}

.Nav-bar ul {
    display: flex;
    flex-direction: row;
}

.Nav-bar ul li {
    display: block;
}

.Nav-bar li a {
    text-decoration: none;
    list-style: none;
    display: block;
    font-family: 'Pacifico', cursive;
    color: #ED2101;
    font-size: 20px;
    margin-left: 8px;
}

.Button:hover {
    color: #ED2101;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px rgb(255, 0, 0),
        0 0 82px rgb(255, 0, 0),
        0 0 92px rgb(255, 0, 0),
        0 0 90px rgb(255, 0, 0),
        0 0 120px rgb(255, 0, 0);
}

.Title-box {
    display: flex;
    margin-left: 140px;
    margin-top: -120px;
}

.Title {
    font-family: 'Pacifico', cursive;
    color: #ED2101;
    font-size: 40px;
    display: flex;
    justify-content: left;

}

.Title:hover {
    color: #ED2101;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px rgb(255, 0, 0),
        0 0 82px rgb(255, 0, 0),
        0 0 92px rgb(255, 0, 0),
        0 0 90px rgb(255, 0, 0),
        0 0 120px rgb(255, 0, 0);
}

.Heading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Gallery-text {
    font-family: 'Pacifico', cursive;
    color: #ED2101;
    font-size: 36px;
}

.Gallery-text:hover {
    color: #ED2101;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px rgb(255, 0, 0),
        0 0 82px rgb(255, 0, 0),
        0 0 92px rgb(255, 0, 0),
        0 0 90px rgb(255, 0, 0),
        0 0 120px rgb(255, 0, 0);
}

.Main-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Main-text {
    font-family: 'Pacifico', cursive;
    color: white;
    text-shadow:
        0 0 7px black;
    font-size: 28px;
    text-align: center;
}

.Quote {
    position: absolute;
    margin-left: 108px;
    margin-top: 117px;
}

.Quote-text {
    font-family: 'Pacifico', cursive;
    color: red;
    text-shadow:
        0 0 11px gray;
    font-size: 23px;
    text-align: center;
}

.Quote-2 {
    position: absolute;
    margin-left: 74rem;
    margin-top: 100px;
}

.Container-1 {
    display: flex;
    height: 300px;
    width: 600px;
    background-color: #fd49a7;
    margin-top: 270px;
    margin-left: 467px;
    box-shadow: 12px 12px 8px white;
}

.Pink-drink {
    display: flex;
    height: 284px;
    width: 160px;
    padding: 8px;
}

.Pinkity-drinkity {
    display: flex;
    font-family: 'Pacifico', cursive;
    color: white;
    text-shadow:
        0 0 7px black;
    font-size: 23px;
    flex-direction: row;
    margin-left: 40px;
}

.Pinkity-drinkity:hover {
    color: #ED2101;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px rgb(255, 0, 0),
        0 0 82px rgb(255, 0, 0),
        0 0 92px rgb(255, 0, 0),
        0 0 90px rgb(255, 0, 0),
        0 0 120px rgb(255, 0, 0);
}

.Pink-drink-text {
    display: flex;
    font-family: 'Pacifico', cursive;
    color: white;
    text-shadow:
        0 0 7px black;
    font-size: 20px;
    margin-top: 117px;
    margin-right: 20px;
}

.Price {
    display: flex;
    font-family: 'Pacifico', cursive;
    color: white;
    text-shadow:
        0 0 7px black;
    font-size: 18px;
    margin-right: 20px;
}

.Price:hover {
    color: #ED2101;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px rgb(255, 0, 0),
        0 0 82px rgb(255, 0, 0),
        0 0 92px rgb(255, 0, 0),
        0 0 90px rgb(255, 0, 0),
        0 0 120px rgb(255, 0, 0);
}

.Container-2 {
    margin: 30px 30px;
    display: flex;
    background-color: #fd49a7;
    width: 80%;
    height: 1000px;
    margin-left: 140px;
    box-shadow: 15px 15px 8px white;
}

.Text {
    display: flex;
    font-family: 'Pacifico', cursive;
    color: white;
    text-shadow:
        0 0 7px black;
}

.Image_list {
    width: 500px;
    height: auto;
}

.Image-list {
    margin-left: 110px;
    margin-top: 20px;
}

.Image_foam {
    width: 270px;
    height: auto;
    transform: rotate(90deg);
}

.Image-foam {
    margin-left: 780px;
    margin-top: -395px;
}

.Text-1 {
    display: flex;
    justify-content: center;
    margin-top: -40px;
    font-size: 26px;
}

.Text-2 {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px;
    margin-top: -40px;
    font-size: 22px;
}

.Image-1 {
    display: flex;
    margin-top: 600px;
    margin-left: -65rem;
}

.Text-3 {
    display: flex;
    margin-left: -65rem;
}

.Image-2 {
    margin-top: 600px;
    margin-left: -478px;
}

.Image2 {
    width: auto;
}

.Text-4 {
    display: flex;
    margin-left: -480px;
}

.Footer {
    position: absolute;
}

.Logos {
    display: flex;
    justify-content: flex-end;
    margin-top: 65rem;
    text-align: end;
    margin-left: 50rem;
}

.Twitter {
    height: 130px;
    width: auto;
}

.Mail {
    height: 120px;
    width: auto;
}

.Instagram {
    height: 120px;
    width: auto;
}