

body {
    height: 100%;
    width: 100%;
    background-color: #F8C9D3;
    display: flex;
    flex-direction: column;
    margin: auto;
}
nav {
    height: 140px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.logo {
    display: flex;
    justify-content: flex-start;
}
.logo:hover {
    color: #fff;
        text-shadow:
          0 0 7px #fff,
          0 0 10px #fff,
          0 0 21px #fff,
          0 0 42px rgb(255, 0, 0),
          0 0 82px rgb(255, 0, 0),
          0 0 92px rgb(255, 0, 0),
          0 0 90px rgb(255, 0, 0),
          0 0 120px rgb(255, 0, 0);
   
}
.logo-png {
    height: 140px;
    width: 140px; 
    
}

.logo-text {
    font-family: 'Pacifico', cursive;
    color: #ED2101;
    font-size: 40px;
}

.navigation {
    padding-right: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.nav-links {
    display: flex;    
    list-style: none;
    flex-flow: row wrap;
    gap: 2rem;
    font-family: 'Titan One', cursive;
    font-style: normal;  
    font-size: 20px;
    line-height: 28px;
    color: #ED2101;
}    
.nav-item:hover {
color: #ED2101;
text-shadow:
0 0 7px #fff,
0 0 10px #fff,
0 0 21px #fff,
0 0 42px rgb(255, 0, 0),
0 0 82px rgb(255, 0, 0),
0 0 92px rgb(255, 0, 0),
0 0 90px rgb(255, 0, 0),
0 0 120px rgb(255, 0, 0);

}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.first-element{ 
    
    display: flex;
    width: auto;
    height: 100%;
    
    align-items: center;
    justify-content: space-between;
    background-color: #fd49a7; 
    margin: 20px;
    padding: 50px;
}

.box-pic-one {
    width: auto;
    height: 100%;
    box-shadow: 0px 0px 0px 5px #ffffff;
    transition:box-shadow 0.6s linear;
    margin: 0.5em; 
  
}

.box-pic-one:hover { 
    box-shadow: 0px 0px 0px 10px #ffffff; 
}

.main-title {
    
    font-family: 'Lora', serif;
    font-style: normal;
    color: #fdeefa;  
    text-shadow: 2px 2px 2px #fdeefa93; 
    font-size: 50px;
    font-weight: 400;
   
    
}
.main-text {
display: flex;
justify-content: center;
margin-left: 20px;
height: 100%;
width: auto;
display: flex;
flex-direction: column;   
text-align: center;

}


.main-page-text {

    display: flex;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 2vw;
    color: #321c32;
    text-shadow: 1px 1px 1px #0f0d0fad;
}

.second-element {
    display: flex;
    display: -webkit-flex;
    justify-content: center;}



.box-pic-two, .box-pic-six, .box-pic-five {
    max-height: 300px;
    padding: 5px;
    border-width: 50px;
    border-style: solid;
    margin: 20px;
    color: #fd49a7; 
    
}

.footer {
    height: 140px;
    width: 100%;
    
}

.social-media {
    padding-right: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
   
}

.logo-insta, .logo-mail{
  
    height: 60px;
    width: 60px; 
}

@media screen and (max-width: 768px) {
    .first-element {
        flex-direction: column;
    }

}